#myad {
  background-color: var(--blackone);
  padding: 2px 25px;
  display: flex;
  justify-content: flex-end;
}
.myad-a {
  color: white;
  font-size: 12px;
}
.myad-a:hover {
  text-decoration: none;
  color: lightgray;
}
@media only screen and (max-width: 500px) {
  .myad-a {
    font-size: 10px;
  }
}
