@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
:root {
  --redone: #bb000e;
  --redtwo: #e31c25;
  --redfade: #e31c2617;
  --blackone: #111111;
  --blacktwo: #161616;
  --blackthree: #1c1c1ca8;
  --whiteone: #efefef;
  --whitefade: rgb(190, 190, 190);
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
